@media (max-width: 600px) {
    body {
        text-align: center;
    }
    h2.tentang_saya {
        font-family: 'Staatliches', cursive;
        font-size: 45px;
    }
    img.profile {
        width: 150px;
        border-radius: 100px;
    }
    p.content_tentang {
        text-align: center !important;
    }
    ul {
        text-align: center;
        padding: 40px;
    }
    li {
        display: inline-block;
        padding-right: 3em;
    }
    li img {
        width: 80px;
    }
}